---
import Layout from "../layouts/base.astro";
---

<Layout title="A new beginning" description="This is a start of something big!">
  <h1>A new beginning</h1>
  <p>This is a start of something big!</p>
</Layout>
