---
import DarkModeToggle from "@/components/DarkModeToggle";
---

<nav class="flex items-center justify-center gap-4 py-4">
  <a class="text-primary hover:text-accent" href="/">Home</a>
  <a class="text-primary hover:text-accent" href="/posts">Posts</a>
  <DarkModeToggle client:load />
</nav>
